* {
    margin: 0em;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #FFFFFF;
    display: flex;
}

#img-topo-bkg {
    width: 2em;
    margin: 0 auto;
    padding: 1em;
}

body {
    background-color: #E8F5FD;
}

form {
    margin: 0 auto;
    margin-top: 3em;
    width: 400px;
    padding: 1em;
    border: 1px solid #4AB3F4;
    border-radius: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
    font-size: 0.9em;
    color: #4AB3F4;
    font-weight: bold;
}

textarea {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #4AB3F4;
}

input:focus, textarea:focus {
    border-color: #23238E;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.btnTweetar {
    margin-left: 24em;
    background: #4AB3F4;
    font-weight: bold;
    color: #ffffff;
}

#contadorHere {
    font-size: 1em;
    margin-left: 29em;
    font-weight: bold;
}

#messageHere div {
    font-family: Arial;
    font-size: 1em;
    background-color: #FFFFFF;
    margin-top: 5%;
    padding: 1em;
    border: 1px solid #4AB3F4;
    border-radius: 1em;
    margin-left: 29em;
    margin-right: 29em;
}